.mapControl{
    background: #f7f7f7;
    border-radius: 10px;
    height: 55px;
    width: 120px;
}

.pipe{
    border-left: 2px solid #000;
    height: 100%;
    margin-left: 4px;
    margin-right: 4px;
}

.icon{
    font-size: 50px;
}
