* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-size: 22px;
  font-weight: 600;
}

div.menubar {
  margin-top: 20px;
  display: flex;
  width: 100vw;
}

div.menubar > div {
  margin-left: 2em;
  padding: .5em;
}

div.logo{
  background: black;
  color: white;
  width: 173px;
  margin-right: 17em;
}

div.container {
  display: flex;
  background: #f7f7f7;
  border-radius: 50px;
  height: 50px;
  width: 800px;
  margin-right: 2em;
  text-align: center;
}

div.container > div {
  /*width: 200px;*/
  /*width: min(95%, 45rem);*/
  height: 50px;
  margin: 0 auto;
  padding: 0 16px;
  color: rgba(0, 0, 0, 0.5);
}

div.preview{
  display: flex;
  background: #bdbdbd;
  color: white;
  border-radius: 10px;
  width: 7rem;
  justify-content: center;

}



/*.logo {*/
/*  margin-top: 20px;*/
/*  !* width: 100%;*/
/*  height: 100vh; *!*/
/*  position: absolute;*/
/*}*/

/*.preview {*/
/*  margin-top: 20px;*/
/*  margin-right: 20px;*/
/*  position: absolute;*/
/*}*/

/*div.container {*/
/*  background: #f7f7f7;*/
/*  align-items: center;*/
/*  border-radius: 50px;*/
/*  padding: 10px;*/
/*  height: 75px;*/
/*  width: 800px;*/
/*}*/

/*div.container ul li {*/
/*  list-style: none;*/
/*  display: inline-block;*/
/*  padding: 13px 35px;*/
/*  margin: 10px;*/
/*  font-size: 28px;*/
/*  font-weight: 600;*/
/*  cursor: pointer;*/
/*  color: rgba(0, 0, 0, 0.5);*/
/*  position: relative;*/
/*  z-index: 2;*/
/*}*/

/* nav ul li::after {
  content: "";
  background: #ff8819;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
} */
