* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
}

div.menubar {
  font-size: 1.25em;
  font-weight: 600;
  display: flex;
  width: 100%;
  height: 35px;
  /*padding: 16px 32px 0 32px;*/
}

div.logo{
  display: flex;
  align-items: center;

  /*justify-content: center;*/
  /*display: flex;*/
  /*margin-right: auto;*/
  /*color: black;*/
  /*width: 100%;*/
  /*height: fit-content;*/
  flex: 1;
}

.img{
  width: 40px;
  height: 100%;
}

.pipe{
  border-left: 5px solid #000;
  height: 100%;
  margin-left: 4px;
}

.logoText{
  margin-left: 6px;
  font-size: 1.5rem;
  font-weight: 600;
}

div.container{
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

div.tabs{
  display: flex;
  background: white;
  /*padding: 16px;*/
  border-radius: 80px;
  box-shadow: 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  /*overflow: hidden;*/
  /*position: relative;*/
}

.tabs *{
  z-index: 4;
}

input[type=radio]{
  display: none;
}

.tab{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;  /* 45px*/
  width: 160px; /*200px*/
  border-radius: 80px;
  cursor: pointer;
  transition: color 0.15s ease-in;
  /*color:  #CED9BF;*/
  color: #0B0E16;
}

/*.badge{*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  width: 2rem;*/
/*  height: 2rem;*/
/*  margin-left: 14px;*/
/*  border-radius: 50%;*/
/*  background: #FF8819;*/
/*}*/

/*input[type]:checked + label{*/
/*    color: #042100;*/
/*}*/

/*input[type=radio]:checked + label > .badge{*/
/*  background: #042100;*/
/*  color: white;*/
/*}*/

input[id=radio-1]:checked ~ .slider{
  transform: translateX(0);
}

input[id=radio-2]:checked ~ .slider{
  transform: translateX(100%);
}

input[id=radio-3]:checked ~ .slider{
  transform: translateX(200%);
}

input[id=radio-4]:checked ~ .slider{
  transform: translateX(300%);
}

.slider{
  position: absolute;
  display: flex;
  height: 35px; /*40px*/
  width: 160px;
  /*background: #E86E1A; !*#FF8819;*!*/
  background: #FF8819;
  z-index: 1;
  border-radius: 80px;
  transition: 0.25s ease-out;
}

@media (max-width: 760px) {
  .tabs{
    transform: scale(0.6);
  }

}

div.preview{
  align-items: center;
  justify-content: center;
  display: flex;
  background: white;
  width: 11rem; /*8rem*/
  height: 100%; /*35px*/
  border-radius: 80px;
  box-shadow: 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  margin-left: 3em;
}
