:root {
  font-family: Roboto, serif !important;
  line-height: 1.5;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --foreground: #FF8819;
  --background: #000000;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
}
